In [6]:
import requests
from bs4 import BeautifulSoup

In [15]:
import pandas as pd

In [7]:
URL='https://books.toscrape.com/'

In [8]:
response = requests.get(URL)

In [11]:
soup = BeautifulSoup(response.text, 'html.parser')

In [12]:
book_data=[]

In [13]:
books = soup.find_all('article', class_='product_pod')

In [16]:

for book in books:
    title = book.h3.a['title']
    price = book.find('p', class_='price_color').text
    print(f"Title: {title}\nPrice: {price}\n")
    book_data.append({"Title":title,"Price":price})

Title: A Light in the Attic
Price: Â£51.77

Title: Tipping the Velvet
Price: Â£53.74

Title: Soumission
Price: Â£50.10

Title: Sharp Objects
Price: Â£47.82

Title: Sapiens: A Brief History of Humankind
Price: Â£54.23

Title: The Requiem Red
Price: Â£22.65

Title: The Dirty Little Secrets of Getting Your Dream Job
Price: Â£33.34

Title: The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
Price: Â£17.93

Title: The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
Price: Â£22.60

Title: The Black Maria
Price: Â£52.15

Title: Starving Hearts (Triangular Trade Trilogy, #1)
Price: Â£13.99

Title: Shakespeare's Sonnets
Price: Â£20.66

Title: Set Me Free
Price: Â£17.46

Title: Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Price: Â£52.29

Title: Rip it Up and Start Again
Price: Â£35.02

Title: Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Price: Â£57.25

Title: Olio
Price: Â£23.88

Title: Mesaerion: The Best Science Fiction Stories 1800-1849
Price: Â£37.59

Title: Libertarianism for Beginners
Price: Â£51.33

Title: It's Only the Himalayas
Price: Â£45.17

In [17]:
df=pd.DataFrame(book_data)
print(df)

                                                Title    Price
0                                A Light in the Attic  Â£51.77
1                                  Tipping the Velvet  Â£53.74
2                                          Soumission  Â£50.10
3                                       Sharp Objects  Â£47.82
4               Sapiens: A Brief History of Humankind  Â£54.23
5                                     The Requiem Red  Â£22.65
6   The Dirty Little Secrets of Getting Your Dream...  Â£33.34
7   The Coming Woman: A Novel Based on the Life of...  Â£17.93
8   The Boys in the Boat: Nine Americans and Their...  Â£22.60
9                                     The Black Maria  Â£52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99
11                              Shakespeare's Sonnets  Â£20.66
12                                        Set Me Free  Â£17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29
14                          Rip it Up and Start Again  Â£35.02
15  Our Band Could Be Your Life: Scenes from the A...  Â£57.25
16                                               Olio  Â£23.88
17  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59
18                       Libertarianism for Beginners  Â£51.33
19                            It's Only the Himalayas  Â£45.17
20                               A Light in the Attic  Â£51.77
21                                 Tipping the Velvet  Â£53.74
22                                         Soumission  Â£50.10
23                                      Sharp Objects  Â£47.82
24              Sapiens: A Brief History of Humankind  Â£54.23
25                                    The Requiem Red  Â£22.65
26  The Dirty Little Secrets of Getting Your Dream...  Â£33.34
27  The Coming Woman: A Novel Based on the Life of...  Â£17.93
28  The Boys in the Boat: Nine Americans and Their...  Â£22.60
29                                    The Black Maria  Â£52.15
30     Starving Hearts (Triangular Trade Trilogy, #1)  Â£13.99
31                              Shakespeare's Sonnets  Â£20.66
32                                        Set Me Free  Â£17.46
33  Scott Pilgrim's Precious Little Life (Scott Pi...  Â£52.29
34                          Rip it Up and Start Again  Â£35.02
35  Our Band Could Be Your Life: Scenes from the A...  Â£57.25
36                                               Olio  Â£23.88
37  Mesaerion: The Best Science Fiction Stories 18...  Â£37.59
38                       Libertarianism for Beginners  Â£51.33
39                            It's Only the Himalayas  Â£45.17

In [ ]:
book_data = []
conversion_rate = 82

In [19]:
for book in books:
    try:
        title = book.h3.a['title']
        price_str = book.find('p', class_='price_color').text.strip()
        # Remove non-numeric parts (e.g., 'Â£' or '£')
        price_clean = price_str.replace('Â£', '').replace('£', '')
        gbp = float(price_clean)
        inr = gbp * rate
        print(f"Title: {title}\nGBP: £{gbp:.2f}\nINR: ₹{inr:.2f}\n")
        book_data.append({"Title": title, "GBP": f"£{gbp:.2f}", "INR": f"₹{inr:.2f}"})
    except Exception as e:
        print("Error:", e)

SyntaxError: invalid non-printable character U+00A0 (679023251.py, line 12)